.player-score {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  margin-left: -2px;
}

.score-wrapper {
  display: flex;
}

.versus {
  color: var(--color-white);
  font-size: 2rem;
  margin: -5px 0.4rem 0 0.4rem;
}
