.container {
  max-width: 600px;
  background-color: var(--color-background);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  font-family: "Road Rage", cursive;
}
