.card-game {
    width: 130px;
    height: 160px;
    background-color: var(--color-card1);
    border: 2px solid var(--color-white);
    border-radius: 8px;
    box-shadow: rgba(255, 217, 0, 0.493) 0px 4px 12px 0px;
    display: flex;
}