.score-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 20px;
  position: relative;
}

.arrow-player {
  position: absolute;
  top: -26px;
  margin-right: 75%;
}
